/*Amanda Heiner 4/8/22*/
body {
    background-color: rgb(215, 227, 245);
    font-size: 20;
}

.underline{
    text-decoration: underline;
}
.title{
    font-weight: bold;
}
li {
    font-size: 18px;
}
 video {
     vertical-align: bottom;
 }
 .center{
     text-align: center;
     font-size: 18px;
 }

 .rightmenu {
    position:absolute;
    top: 650px;
    right: 50px;
    bottom: 300px;
    width: 500px;
    border-left: solid 1px #555555;
    padding-left: 100px;
}